<h2>Vil du være med på å bygge Norges sterkeste konsulentmiljø innen maskinlæring og kunstig intelligens?</h2>
<div class="nct-margin-top">
    <img src="https://www.norconsult.no/globalassets/norconsult/career/norway/stillingsannonser/nois-klatrevegg-m-logo.jpg?w=640&h=0&scale=both">
</div>
<h2>Vi søker nyutdannet konsulent innen maskinlæring og kunstig intelligens</h2>
<div class="nct-margin-top">
    <p>Fundator er en avdeling i Norconsult Informasjonssystemer AS (NoIS) som leverer konsulenttjenester innen maskinlæring,
        kunstig intelligens, systemutvikling, systemintegrasjon, prosjektledelse, rådgivning og arkitektur. Vi er et konsulenthus
        med meget dyktige ansatte og tungt fokus på faglig utvikling. Våre konsulenter bruker 10% av tiden sin på kurs, konferanser,
        hobbyprosjekter, sertifiseringer, og andre fagaktiviteter.</p>
    <p>Vi søker deg med en lidenskap for maskinlæring og kunstig intelligens. Du verdsetter et sterkt faglig miljø hvor trivsel
        og egenutvikling står i sentrum. Du ønsker å jobbe med maskinlæringsprosjekter innen offentlig og privat virksomhet
        hvor du får muligheten til å skape verdi og samfunnsnytte.</p>
    <p>Vi har spennende prosjekter innen energi, olje/gass, bygg og konstruksjon, samferdsel, digital læring og finans. Våre
        kunder er ofte de mest betydningsfulle og tankeledende innen sine respektive bransjer. Vi arbeider med både store
        og mindre store datamengder, alt fra tidsserier og sensordata til kontobevegelser og fysiske bevegelser i geodata.
        Vi opererer både on-premise og i skyen, og er med hele veien fra idé og konseptfase til deployment og operasjonalisering
        av maskinlæringsmodeller. Vil du vite mer? Ta kontakt, så skal vi fortelle deg om både tidligere, pågående og kommende
        prosjekter.</p>
    <p>
        <b>For oss er det viktig at du:</b>
    </p>
    <ul>
        <li>Er nyutdannet i 2019 innen datateknologi, informatikk, kommunikasjonsteknologi eller tilsvarende med hovedprofil
            innen maskinlæring og kunstig intelligens.</li>
        <li>Har gode akademiske resultater.</li>
        <li>Er utadvendt og glad i å jobbe med mennesker.</li>
        <li>Har sterk muntlig og skriftlig fremstillingsevne på både norsk og engelsk.</li>
    </ul>
    <p>
        <b>Hos oss får du:</b>
    </p>
    <ul>
        <li>Et ledende konsulentmiljø med svært kompetente medarbeidere.</li>
        <li>Varierte, utfordrende og innflytelsesrike arbeidsoppgaver hos engasjerte kunder.</li>
        <li>Spennende kompetansehevings- og karrieremuligheter innen marked, fag, linje og oppdrag</li>
        <li>Verdibasert samfunnsplanlegging med fokus på fremtidsrettede og bærekraftige løsninger</li>
        <li>Sterk bedriftskultur preget av uformelle kommunikasjonslinjer på tvers av organisasjon og geografi</li>
        <li>Eget fora for yngre medarbeidere med direkte tilgang til konsernets toppledelse (Yngres Råd)</li>
        <li>Fleksibel arbeidstid</li>
        <li>Overskuddsdelingsordning der alle ansatte får direkte utbytte av selskapets resultat</li>
        <li>Eierskap i Norges største tverrfaglige rådgiverbedrift</li>
        <li>Konkurransedyktig lønns- og ansettelsesbetingelser</li>
        <li>Studieturer, interne fagsamlinger, ulike sosiale arrangementer, bedriftsidrettslag m.m.</li>
    </ul>
    <p>Gå til http://www.nois.no/om-oss/stilling-ledig/ for å søke!</p>
    <p>
        <i>
            <i>Norconsult er Norges største rådgiverbedrift. Våre tjenester er rettet mot samfunnsplanlegging, prosjektering
                og arkitektur. Selskapet er eid av våre over 3 000 medarbeidere som er stasjonert på 93 kontorer i hele verden.
                Hovedkontoret ligger i Sandvika utenfor Oslo.</i>
        </i>
    </p>
</div>